
body {
    font-family: Arial;
    direction: rtl;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    background: #003366;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    margin-left: 20px;
}

.logout-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

h1 {
    margin: 20px 0;
}

.filter-bar {
    margin: 20px;
}

.filter-bar input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 90%;
    background: #f0f8ff;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}
