
body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #f2f6fc;
    direction: rtl;
}

header {
    background-color: #003e7e;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    margin: 5px 10px;
}

#adminBtn {
    background-color: #2196f3;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 4px;
}

main {
    display: flex;
    justify-content: center;
    padding: 40px 10px;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
}

.form-container h1 {
    margin-top: 0;
    color: #003e7e;
    font-size: 24px;
    text-align: center;
}

.form-container p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form button {
    width: 100%;
    background-color: #2196f3;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

form button:hover {
    background-color: #1976d2;
}
